.blurrd-img {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
  height: 100%;
  width: 100%;
}

.blurrd-hidden-loader {
  display: none !important
}

.blurrd-transition {
  -webkit-transition : all 1s ease;
  -moz-transition : all 1s ease;
  -ms-transition : all 1s ease;
  -o-transition : all 1s ease;
  transition : all 1s ease;
}

.blurrd-active {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

.blurrd-parent {
  overflow: hidden;
}
